<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>xSite Administrator's Control Panel</title>
    <link rel="stylesheet" href="__PUBLIC__/admin/images/admincp.css" type="text/css" media="all" />
    <meta content="xSite Inc." name="Copyright" />
</head>
<body>
<div class="mainhd">
    <div class="logo">xSite Administrator's Control Panel</div>
    <div class="uinfo">
        <p>您好, <em>xSite</em> [ <a href="xsite.php?action=logout" target="_top">退出</a> ] [ <a href="xsite.php?action=update_cache" target="main" >更新全站缓存</a> ] [ <a href="http://localhost/xsite" target="_blank">网站首页</a> ] </p>
    </div>
</div>
</body>
</html>